.site-lessons {
  color: $black;
  background: $section-background-color;

  &-image {
    display: block;
    border-radius: 10px;
    max-width: 60%;

    @include desktop {
      margin-left: 0;
      margin-right: auto;
    }

    @include mobile {
      margin: 0 auto;
    }
  }
}
