.site-statement {
  color: $black;
  background: $secondary-color;

  &-title {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 40px;

    h2 {
      font-weight: 300;
      letter-spacing: 2px;
      text-transform: uppercase;
      margin-bottom: 15px;

      @include desktop {
        font-size: 40px;
      }
    }
  }

  &-content {
    padding-left: 15px;
    padding-right: 15px;
  }

  @include mobile {
    padding: 50px 0;
  }
}
